section.content p {
  margin-bottom: 1rem;
}

section.content h1 {
  margin: 1.5rem 0;
  font-weight: bold;
  font-size: 2rem;
}

section.content h2 {
  margin: 1.4rem 0;
  font-weight: bold;
  font-size: 1.7rem;
}

section.content h3 {
  margin: 1.3rem 0;
  font-weight: bold;
}

section.content ol {
  list-style-type: decimal;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

section.content ol.relative {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 0;
}

section.content ul {
  list-style-type: disc;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

section.content a {
  text-decoration: underline dotted;
  color: rgb(0, 174, 255);
}
